asgiref==3.9.2
cachetools==6.2.0
Django==5.2.7
django-rest-framework==0.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
google-auth==2.41.1
gunicorn==23.0.0
packaging==25.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
python-decouple==3.8
rest-framework-simplejwt==0.0.2
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2